#gametitle{
    text-align: center;
    color: blue;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player_name{
    text-align: center;
    color: darkblue;
    font-size: 30px;
}
.game_area{
    background-color: rgb(241, 185, 101);
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);   
}
.square{
    width: 99%;
    height: 99%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: rgb(24, 9, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
