#heading{
    text-align: center;
    // background-color: red;
}
.cl{
    text-align: center;
    background-color: rgb(15, 236, 34);
    text-shadow: rgb(15, 236, 34);
    color:rgb(19, 15, 250);
}
#ngif1{
    background-color: aqua;
}
#ngif2{
    background-color: aquamarine;
}


